<div class="row pt-3">
  <div class="col-12">

    <ng-container *ngIf="currentGame$ | async as currentGame; else loading">
      <h1>{{ currentGame.name }}</h1>
      <img class="mb-3" [src]="currentGame.box_art_url | sizedImage:'144':'192'" [alt]="currentGame.name">

      <app-game-navigation [gameId]="currentGame.id"></app-game-navigation>
    </ng-container>

    <ng-template #loading>
      Loading...
    </ng-template>

    <div class="row">
      <app-stream-card class="pt-2 col-12 col-sm-6 col-lg-4 col-xl-3" *ngFor="let stream of streams$ | async" [stream]="stream"></app-stream-card>
    </div>

  </div>
</div>
